/* Header.css */

.Navigation-header {
    background-color: #003366; /* Navy */
    color: #ffffff; /* White text */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center align text */
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
}

.Header-nav {
    display: flex; /* Flexbox for horizontal alignment */
    justify-content: center; /* Center align items */
  }

  .Header-nav-list {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Flexbox for horizontal list items */
  }

.Header-nav-item {
    margin: 0 15px; /* Spacing between items */
}

.Header-nav-link {
    color: #ffffff; /* White text */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Bold text */
  }

.Header-nav-link:hover {
    text-decoration: underline; /* Underline on hover */
}

body {
  margin: 0;
  background-color: #282c34;
  padding-top: 80px;
}